{% extends "base.html" %}

{% block title %}
Неудачная оплата
{% endblock %}

{% block content %}
<div class="container dd-flex justify-content-center py-5">
    <div class="row dd-flex justify-content-center">
        <div class="col col-md-8 dd-flex justify-content-center">
            <h5 class="text-secondary text-center dd-flex justify-content-center">Неудачная оплата</h5>
            <div class="bg-white rounded-25 p-4 my-5 dd-flex justify-content-center">

                <button class="btn btn-lg btn-primary btn-block mt-4 w-100"
                    onclick="window.location.href = '/'">Вернуться на
                    главную</button>

            </div>
        </div>
    </div>
</div>

{% endblock %}